* {
    padding: 0;
    margin: 0;
}

:root {

    /* OPCION 1*/

    --main-color: black;
    --secondary-color: #111;
    --underline-color: rgb(255, 187, 0);
    --font-color: #fff;

    /* OPCION 2*/

    /* --main-color: #ff9500;
    --secondary-color: rgb(255, 174, 0);
    --underline-color: rgb(255, 251, 0);
    --font-color: #fff; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: var(--main-color);
}

/* WHATSAPP */

.wpp {
    background-color: #25D366;
    padding: 15px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.wpp:hover {
    background-color: #25d36581;
    cursor: pointer;
}

.wpp i {
    font-size: 25px;
}

/* NAV */

nav {
    position: relative;
    bottom: 0;
    width: 100%;
}

nav .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.464);
    padding: 5px;
}

nav .desktop-nav .menu-cont {
    display: flex;
}

nav .desktop-nav .menu-cont li {
    list-style: none;
    margin: 7px 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: .21s all;
}

a:hover {
    text-decoration: underline wavy 2px var(--underline-color);
}

.testimonios .links a:hover {
    text-decoration: underline wavy 2px var(--underline-color);
}

 /* INICIO */

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(images/inicio-blur.jpg);
    background-size: cover;
    background-position: center;
}

.inicio h1 {
    /* color: rgb(255, 187, 0); */
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* WELCOME */

.welcome {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
}

.welcome .welcome-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
    margin: 20px;
    text-align: center;
}

.welcome .welcome-cont h2,
.welcome .welcome-cont p {
    color: var(--font-color);
}

.welcome .welcome-cont h2 {
    margin-right: 20px;
}

.welcome .welcome-cont p {
    width: 80%;
}

.welcome img {
    width: 60%;
}

.welcome .welcome-cont a {
    text-decoration: underline wavy var(--underline-color);
}

/* TESTIMONIOS */

.testimonios {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    background-color: var(--main-color);
}

.testimonios h3 {
    color: var(--font-color);
    text-decoration: underline wavy var(--underline-color);
}

.testimonios .testimonios-cont {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto;
}

.testimonios .testimonios-cont .testimonio-item {
    background-color: #ccc;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, .2);
    margin: 10px;
    padding: 20px;
    border-radius: 6px;
}

.testimonios .testimonios-cont .testimonio-item .estrellas {
    margin: 10px;
    margin-bottom: 20px;
}

.testimonios .testimonios-cont .testimonio-item .estrellas i {
    color: rgb(255, 153, 0);
}

.testimonios .links a {
    margin: 10px;
    color: var(--font-color);
    text-decoration: none;
}

/* GALERIA */

.galeria {
    padding: 40px;
    text-align: center;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    color: var(--font-color);
    text-decoration: underline wavy var(--underline-color);
}

.galeria .galeria-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 20px;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
}

.galeria img {
    width: 100%;
    height: 100%;
}

/* COMUNICATE */

.info {
    padding: 40px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: var(--main-color);
}

.info h3 {
    color: var(--font-color);
    text-decoration: underline wavy var(--underline-color);
    margin: 20px;
}

.info p,
.info a,
.info h4 {
    color: var(--font-color);
    margin-bottom: 5px;
}

.info .map-cont {
    display: flex;
    justify-content: center;
}

.info .map-cont iframe {
    width: 100%;
}

.info .data-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

.info .contacto-cont,
.info .direccion-cont {
    margin: 20px;
}

.horarios-cont {
    width: 40%; 
    margin: 20px auto;
}

.horarios-cont h3 {
    text-align: center;
    margin: 10px;
}

.horarios-cont ul li {
    color: var(--font-color);
    list-style: none;
    margin: 10px;
}

/* FOOTER */

footer {
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
}

footer p {
    color: var(--font-color);
}

/* MEDIAS */

@media (max-width: 1200px) {
    .galeria .galeria-cont {
        width: 90%;
    }

    .testimonios .testimonios-cont {
        width: 90%;
    }  
}

@media (max-width: 900px) {
    .welcome {
        flex-direction: column;
    }

    .welcome h2 {
        margin: 5px;
    }

    .galeria .galeria-cont {
        grid-template-columns: repeat(2, 1fr);
    }

    .info {
        width: 80%;
    }

    .info .map-cont {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .inicio h1 {
        font-size: 60px;
    }

    .testimonios .testimonios-cont {
        flex-direction: column;
        width: 100%;
    }    
}

@media (max-width: 650px) {
    .inicio h1 {
        font-size: 40px;
    }

    .galeria .galeria-cont {
        grid-template-columns: repeat(1, 1fr);
    }    

    nav a {
        font-size: smaller;
    }
}

